# Dependencies
/node_modules

# Compiled Files
/build

# Sensitive Files
.env

# Cypress
cypress/screenshots
cypress/videos

# Miscellaneous
.DS_Store

# Playwright
/playwright/report/
/playwright/test-results/
/playwright/.cache/
